{% extends 'base.html' %}

{% block title %}Мои курсы{% endblock %}
{% block content %}
    <h1>Мои курсы</h1>
    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p><a href="{% url 'student_course_detail' course.id %}">Доступ к контенту</a></p>
            </div>
        {% empty %}
            <p>
                Вы, пока, не зачислены на курсы.
                <a href="{% url 'course_list' %}">Просмотрите курсы</a> для зачисления на курс
            </p>
        {%  endfor %}
    </div>
{% endblock %}