{% extends 'base.html' %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    {% with subject=course.subject %}
        <h1>{{ object.title }}</h1>
        <div class="module">
            <h2>Обзор</h2>
            <p>
                <a href="{% url 'course_list_subject' subject.slug %}">{{ subject.title }}</a>
                Количество модулей: {{ course.modules.count }}.
                Преподаватель: {{ course.owner.get_full_name }}
            </p>
            {{ object.overview|linebreaks }}
            {% if request.user.is_authenticated %}
                <form action="{% url 'student_enroll_course' %}" method="POST">
                    {{ enroll_form }}
                    {% csrf_token %}
                    <input type="submit" class="button" value="Зачислиться">
                </form>
            {% else %}
                <a href="{% url 'student_registration' %}" class="button">Зарегистрироваться для зачисления</a>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}