<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Образование{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Образование</a>
    <ul class="menu">
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Выход</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Вход</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      {% block domready %}
      {% endblock %}
    });
  </script>
</body>
</html>