{% extends 'base.html' %}
{% block title %}Редактирование "{{ course.title }}"{% endblock %}
{% block content %}
    <h1>Редактирование "{{ course.title }}"</h1>
    <div class="module">
        <h2>Модули курса</h2>
        <form action="." method="POST">
            {{ formset }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" class="button" value="Сохранить модуль">
        </form>
    </div>
{% endblock %}