{% extends "base.html" %}

{% block title %}Выход{% endblock %}

{% block content %}
  <h1>Выход</h1>
  <div class="module">
    <p>Вы успешно вышли из системы. Вы можете <a href="{% url 'login' %}">войти снова</a>.</p>
  </div>
{% endblock %}