{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход</h1>
  <div class="module">
    {% if form.errors %}
      <p>Ваше имя пользователя или пароль неверны. Попробуйте снова</p>
    {% else %}
      <p>Пожалуйста, используйте форму для входа:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Вход"></p>
      </form>
    </div>
  </div>
{% endblock %}