{% extends 'base.html' %}
{% block title %}Удалить курс{% endblock %}
{% block content %}
    <h1>Удалить курс "{{ object.title }}"</h1>
    <div class="module">
        <form action="" method="POST">
            {% csrf_token %}
            <p>Вы убеждены, что хотите удалить "{{ object }}"?</p>
            <input type="submit" class="button" value="Подтвердить удаление">
        </form>
    </div>
{% endblock %}
