{% extends 'base.html' %}
{% block title %}
    {% if object %}
        Редактировать курс "{{ object.title }}"
    {% else %}
        Создать новый курс
    {% endif %}
{% endblock %}
{% block content %}
    <h1>
        {% if object %}
            Редактировать курс "{{ object.title }}"
        {% else %}
            Создать новый курс
        {% endif %}
    </h1>
    <div class="module">
        <h2>Информация о курсе</h2>
        <form action="." method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <p><input type="submit" value="Сохранить курс"></p>
        </form>
    </div>
{% endblock %}