{% extends 'base.html' %}

{% block title %}Войти в систему{% endblock %}
{% block content %}
    <h1>Войти в систему</h1>
    <div class="module">
        <p>Введите данные регистрации</p>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit", value="Создать мой аккаунт"></p>
        </form>
    </div>
{% endblock %}